<ion-view view-title="Front Page">
  <ion-content>
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="doRefresh()">
    </ion-refresher>
    <ion-list>
      <div collection-repeat="post in voatPosts">
        <ion-item class="item-thumbnail-left item-icon-right" type="item-text-wrap" href="#/gallery/{{post.id}}">
          <img ng-src="{{post.thumbnail}}">

          <span class="front-page-link">{{post.title}}</span>

          <p class="front-page-details">submitted by {{post.submittedBy}}</p>

          <p class="front-page-details"><i class="fa fa-arrow-up"></i> {{post.upVoats}} <i
            class="fa fa-arrow-down"></i> {{post.downVoats}}</p>

          <p class="front-page-details"> {{post.commentCount}} comments
          </p>
        </ion-item>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
