<ion-view  view-title="Front Page">
  <ion-content>
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="doRefresh()">
    </ion-refresher>

    <ion-list>
      <div collection-repeat="post in voatPosts">
        <ion-item class="item-thumbnail-left item-icon-right" type="item-text-wrap" href="#/gallery/{{post.id}}">
          <img style="border-radius: 5px;" ng-src="{{post.thumbnail}}">

          <span class="front-page-link">{{post.title}}</span>

          <p class="front-page-details">submitted by {{post.submittedBy}}
            <br/>

            <i class="fa fa-arrow-up"></i> {{post.upVoats}} <i
              class="fa fa-arrow-down"></i> {{post.downVoats}}

            <br/>
            {{post.commentCount}}
          </p>
        </ion-item>
      </div>
    </ion-list>
    <ion-infinite-scroll
      on-infinite="loadMoreData()"
      distance="1%">
    </ion-infinite-scroll>
  </ion-content>
</ion-view>
