<ion-view class="navigation-title gallery-page" view-title="Gallery">

<ion-slide-box class="gallery-slide-box" on-slide-changed="slideHasChanged($index)" show-pager="false" active-slide="activeSlideIndex">

  <ion-slide ng-repeat="post in voatPosts">

<ion-content direction="xy" locking="false" class="has-header"> 
          <img ng-class="{'fit-to-container': fitImageToScreen}" on-tap="imageTapped()" ng-src="{{post.link}}">
</ion-content>
          <div class="gallery-title-container">
<p class="gallery-title">{{post.title}}
</p></div>

  </ion-slide>

    
</ion-slide-box>

</ion-view>
