<ion-view view-title="Gallery" class="dark-background">
  <ion-slide-box
    on-double-tap="onDoubleTap()"
    on-slide-changed="slideHasChanged(index)"
    active-slide="selectedSlide"
    show-pager="false"
    does-continue="true"
    class="full-size">
    <ion-slide voat-image-actions ng-repeat="slide in slides">
      <ion-scroll direction="xy"
                  zooming="true"
                  min-zoom="{{MIN_ZOOM}}"
                  locking="false"
                  ng-class="{'has-header': showNavigation}"
                  style="width: 100%; height: 100%;"
                  delegate-handle="scrollHandle-{{$index}}"
                  on-scroll="updateSlideStatus(selectedSlide)"
                  on-release="updateSlideStatus(selectedSlide)">

        <img ng-hide="showFullSizeImage" id="slide-image-{{$index}}" class="contain-content" ng-src="{{slide.link}}">
        <img ng-show="showFullSizeImage" ng-src="{{slide.link}}">
      </ion-scroll>

      <div class="gallery-title-container" ng-class="{'hidden': !showImageTitle}">
        <p class="gallery-title">{{slide.title}}</p>
        <button class="button button-clear icon ion-share gallery-share-button" on-tap="doShare()"></button>
      </div>
    </ion-slide>
  </ion-slide-box>
</ion-view>
