<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="Gallery">
  <ion-content has-bouncing="false">
    <ks-swiper-container swiper="swiper" initial-slide="initialSlideIndex" on-ready="onReadySwiper(swiper)" loop="false"
                          show-nav-buttons="false" slides-per-view="1" pagination-clickable="false">
      <ks-swiper-slide class="swiper-slide" style="background-color: black" ng-repeat="post in voatPosts">

          <img ng-src="{{post.link}}">
      </ks-swiper-slide>
    </ks-swiper-container>
  </ion-content>
</ion-view>
