<ion-view view-title="VoatPicsHD">
  <ion-content>
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="doRefresh()">
    </ion-refresher>

    <ion-list>
      <div collection-repeat="post in voatPosts">
        <ion-item class="item-thumbnail-left item-icon-right " type="item-text-wrap" href="#/gallery/{{post.id}}">
          <img class="post-thumbnail" ng-src="{{post.thumbnail}}">

          <p class="post-list-title">{{post.title}}</p>

          <p class="post-list-details">
            <i class="fa fa-arrow-up"></i> {{post.upVoats}}
            <i class="fa fa-arrow-down"></i> {{post.downVoats}}
            <i class="ion-chatboxes"></i> {{post.commentCount}}
            <i class="ion-person"></i> {{post.submittedBy}}
          </p>
        </ion-item>
      </div>
    </ion-list>
    <ion-infinite-scroll
      on-infinite="loadMoreData()"
      immediate-check="false"
      distance="10%">
    </ion-infinite-scroll>
  </ion-content>
</ion-view>
